REACT_APP_SUPABASE_URL=https://eheiqcszbiikeipnnzhf.supabase.co
REACT_APP_SUPABASE_ANION_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVoZWlxY3N6Ymlpa2VpcG5uemhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Njk1NzQzMjcsImV4cCI6MTk4NTE1MDMyN30.b_2tKTvu1yPZEV7j10bpr2yPtBfD4Jza0jUq6B-IFv8